.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px; width: 100px;
  margin: 0; padding: 10px;
  overflow-y: scroll;
  font-size: 20px;
  background-color: gold;
}
.list::-webkit-scrollbar {
  width: 0;
}